[Desktop Entry]
Encoding=UTF-8
Name=Lite Welcome
GenericName=Lite Welcome
X-XfceSettingsName=Lite Welcome
Comment=Linux Lite Welcome Screen
Type=Application
Exec=lite-welcome
Icon=litewelcome
Terminal=false
Categories=DesktopSettings;GTK;Screensavers;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;XFCE;
StartupNotify=false
OnlyShowIn=XFCE;
NoDisplay=false
OnlyShowIn=Old;
