[Desktop Entry]
Version=1.1
Type=Application
Name=Bulk Rename
GenericName=Bulk Rename
NoDisplay=true
Comment=Rename Multiple Files
Icon=Thunar
Exec=/usr/lib/x86_64-linux-gnu/Thunar/ThunarBulkRename %F
Actions=
Categories=Core;Filesystem;GTK;System;Utility;
StartupNotify=true
OnlyShowIn=Old;
