[Desktop Entry]
Version=1.1
Type=Application
Name=XTerm
NoDisplay=true
Comment=standard terminal emulator for the X window system
Icon=xterm-color
Exec=xterm
Actions=
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
