[Desktop Entry]
Version=1.1
Type=Application
Name=Firewall
Comment=Firewall Configuration
Icon=firewall-config
Exec=/usr/bin/firewall-config
Actions=
Categories=Security;Settings;
Keywords=firewall;network;security;iptables;netfilter;
StartupNotify=true
