[Desktop Entry]
Version=1.1
Type=Application
Name=Partition Drives
GenericName=Partition Drives
Comment=Create, reorganize, and delete partitions
Icon=gparted
Exec=/usr/sbin/gparted %f
Actions=
Categories=Filesystem;GNOME;System;
Keywords=Partition;
StartupNotify=true
