[Desktop Entry]
Encoding=UTF-8
Name=Lite User Manager
GenericName=Lite User Manager
X-XfceSettingsName=Lite User Manager
Comment=Manage Users on Linux Lite
Type=Application
Exec=lite-usermanager
Icon=liteusermanager
Terminal=false
Categories=DesktopSettings;GTK;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;XFCE;
StartupNotify=true
OnlyShowIn=XFCE;
NoDisplay=false
