[Desktop Entry]
Version=1.1
Type=Application
Name=Install/Remove Software
GenericName=Package Manager
Comment=Install, remove and upgrade software packages
Icon=synaptic
Exec=synaptic-pkexec
Actions=
Categories=GTK;PackageManager;System;
