[Desktop Entry]
Version=1.1
Type=Application
Name=Install RELEASE
NoDisplay=true
Comment=Install this system permanently to your hard disk
Icon=ubiquity
NotShowIn=KDE;
Exec=sudo sh -c 'ubiquity gtk_ui'
Actions=
Categories=GTK;Settings;System;
Keywords=ubiquity;
