[Desktop Entry]
Version=1.1
Type=Application
Name=Task Manager
GenericName=Task Manager
Comment=Easy to use task manager
Icon=utilities-system-monitor
Exec=xfce4-taskmanager
Actions=
Categories=System;
StartupNotify=true
